.storecard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.medicinecard {
    height: 35rem;
}

.imagemedicine {
    height: 200px;
}

.cardPrice {
    font-size: 2rem;
    margin-top: 5rem;
}

.priceSpan {
    color: red;
}

.medicinecardimage {
    width: 100%;
    height: 200px;
    object-fit: fill;
    padding: 0px;
}